name: data

on:
  schedule:
    - cron: '1 1 * * 1-5'
    - cron: '15 8 * * 0,5'
    - cron: '15 9 * * 1-5'
    - cron: '15 9 * * 6'
  workflow_dispatch:
    inputs:
      group:
        type: choice
        description: Run group
        options:
          - all
          - bnb
          - weekly
          - daily
          - vnqa
          - colab
          - feather

env:
  bnb: ${{ github.event_name == 'schedule' || github.event.inputs.group == 'bnb' || github.event.inputs.group == 'all' }}
  weekly: ${{ github.event.schedule == '15 9 * * 6' || github.event.inputs.group == 'weekly' || github.event.inputs.group == 'all' }}
  daily: ${{ github.event.schedule == '1 1 * * 1-5' || github.event.schedule == '15 9 * * 1-5' || github.event.inputs.group == 'daily' || github.event.inputs.group == 'all' }}
  vnqa: ${{ github.event.schedule == '15 9 * * 1-5' || github.event.inputs.group == 'vnqa' || github.event.inputs.group == 'all' }}
  colab: ${{ github.event.schedule == '15 9 * * 6' || github.event.inputs.group == 'colab' || github.event.inputs.group == 'all' }}
  feather: ${{ github.event.schedule == '15 9 * * 6' || github.event.inputs.group == 'feather' || github.event.inputs.group == 'all' }}

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      # Base Steps
      - name: robusta
        if: github.event_name == 'schedule' || github.event.inputs.group != 'feather'
        uses: actions/checkout@v4
        with:
          repository: AICafe1/robusta
          token: ${{ secrets.PASS }}

      - name: data
        uses: actions/checkout@v4
        with:
          repository: AICafe1/robusta-data
          token: ${{ secrets.PASS }}
          path: data

      - name: Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: cd data; npm install

      - name: Chrome curl
        run: cd /usr/local/bin; wget -q -O - https://github.com/AICafe1/robusta-server/releases/download/v1.0.2/chrome.tgz | tar -xz

      - name: Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - run: cd data; pip install -q -r requirements.txt

      # BNB Data
      - name: BNB
        if: env.bnb == 'true'
        run: |
          node data/download -m bnb -t review && node data/download -m bnb
          node data/audit -m bnb

      # VN Weekly
      - name: VN Weekly
        if: env.weekly == 'true'
        run: node data/download

      # VN Daily
      - name: VN Daily
        if: env.daily == 'true'
        run: |
          node data/download
          node data/download/vn/helpers -t f | xargs -I {} node data/download -t index -s {}
          node data/download/vn/helpers -t e | xargs -I {} node data/download -t daily -s {}
          python data/download/vn/top.py

      # VN
      - name: VN Audit
        if: env.daily == 'true' || env.weekly == 'true'
        run: |
          ls error.sh && node data/error.js && sh rerun.sh && rm rerun.sh || echo 1
          ls error.sh && node data/error.js && sh rerun.sh && rm rerun.sh || echo 2
          ls error.sh && node data/error.js && sh rerun.sh && rm rerun.sh || echo 3
          node data/audit

      # Robusta push
      - name: Audit
        id: audit
        if: github.event_name == 'schedule' || (github.event.inputs.group != 'feather' && github.event.inputs.group != 'colab' && github.event.inputs.group != 'vnqa')
        run: cat audit.txt && (echo 'r=false' > $GITHUB_OUTPUT) || (echo 'r=true' > $GITHUB_OUTPUT)

      - name: Notify
        if: steps.audit.outputs.r == 'false'
        run: node data/audit/notify.js

      - name: Push
        run: |
          git config user.name github
          git config user.email actions@github.com
          git add csv
          [[ ! -f audit.txt ]] || grep -Eo '^[^ ]+' audit.txt | xargs git reset
          git commit -m "csv" || echo ""
          git push

      # Robusta Release
      - name: Robusta Release
        run: |
          git restore csv
          tar -czf bnb.tgz csv/bnb
          tar -czf vn.tgz csv/vn
          zip -P ${{ secrets.ZIP }} vn.tgz.zip vn.tgz

      - name: Robusta Release v1.0.0
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.0
          files: |
            bnb.tgz
            vn.tgz.zip

      # VNQA
      - name: VNQA
        if: env.vnqa == 'true'
        uses: actions/checkout@v4
        with:
          repository: AICafe1/vnqa
          token: ${{ secrets.PASS }}
          path: vnqa

      - name: VNQA Release
        if: env.vnqa == 'true'
        run: |
          cd vnqa
          git config user.name github
          git config user.email actions@github.com
          cd ..
          sh data/vnqa/data.sh

      # Colab
      - name: Colab
        if: env.colab == 'true'
        uses: actions/checkout@v4
        with:
          repository: AICafe1/robusta-colab
          token: ${{ secrets.PASS }}
          path: colab

      - name: Colab Data
        if: env.colab == 'true'
        run: python data/colab > /dev/null; python data/colab -m bnb > /dev/null; cd colab; tar -czf vndata.tar.gz *; zip -P ${{ secrets.ZIP }} ../vndata.tar.gz.zip vndata.tar.gz

      - name: Colab Release
        if: env.colab == 'true'
        uses: softprops/action-gh-release@v2
        with:
          repository: algo-stocks/data
          token: ${{ secrets.PASS }}
          tag_name: vndata
          files: vndata.tar.gz.zip

      # Feather
      - name: Feather
        if: env.feather == 'true'
        run: sh data/vnqa/feather.sh

      - name: Feather Release
        if: env.feather == 'true'
        uses: softprops/action-gh-release@v2
        with:
          repository: algo-stocks/data
          token: ${{ secrets.PASS }}
          tag_name: v2.0
          files: CafeF.feather.zip
